@import url('http://fonts.cdnfonts.com/css/gidole');
:root{
    --xiketic: #1c0f13ff;
    --blue-green-color-wheel: #034c3cff;
    --slate-gray: #6e7e85ff;
    --opal: #b7ceceff;
    --platinum: #e2e2e2ff;
    --hover: rgb(163, 14, 14);
}
/*ESTILO PARA LINKS*/
a:hover {color: var(--hover)}

a{
    text-decoration: none;
    color: #B7CECE;
}

body{
    background-color: var(--xiketic);
    font-family: 'Gidole', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: var(--opal);
}
section{
    padding: 15px;
    margin: 15px;
}

/*ESTILO DEL HEADER*/
header{
    width: 1108px;
    height: 200px;
    background: #B7CECE;
    border-radius: 45px;
    left: -44px;
    top: 67px;
    position: absolute;
    text-align: center;
}
.perfil{
    position: absolute;
    width: 145.82px;
    height: 237.07px;
    left: 1300px;
    top: -20px;
    border: 3px solid #B7CECE;
    border-radius: 197px;
}

.portafolio{
    position: absolute;
    width: 565px;
    height: 72px;
    left: 279px;
    top: 0px;
    
    font-weight: 275;
    font-size: 40px;
    line-height: 72px;
    
    color: #034C3C;
}

.nombre{
    position: absolute;
    width: 511px;
    height: 72px;
    left: 303px;
    top: 60px;
    font-weight: 300;
    font-size: 48px;
    line-height: 72px;
    color: #034C3C;
}

/*ITEMS*/
.taller{
    
    position: absolute;
    width: 400px;
    height: 417px;
    left: 104px;
    top: 366px;
    border: 2px solid #B7CECE;
    box-sizing: border-box;
    border-radius: 50px;
}

.consulta{
    
    position: absolute;
    width: 400px;
    height: 417px;
    left: 570px;
    top: 366px;

    border: 2px solid #B7CECE;
    box-sizing: border-box;
    border-radius: 50px;
}
.retos{
    position: absolute;
    width: 400px;
    height: 417px;
    left: 1034px;
    top: 366px;
    border: 2px solid #B7CECE;
    box-sizing: border-box;
    border-radius: 50px;
}

/*ESTILO PARA LAS LISTAS*/

ul
{
    font-size: 32px;
    line-height: 54px;
    color: #B7CECE;
}

.tituloreto{
    position: absolute;
    width: 127px;
    height: 50.04px;
    left: 140px;
    top: 0px;

    font-style: normal;
    font-size: 48px;
}

.ulreto{
    position: absolute;
    width: 300px;
    height: 168.88px;
    left:110px;
    top: 100px;
    font-style: normal;
    font-weight: 250;
}


.tituloconsulta{
    position: absolute;
    width: 127px;
    height: 50.04px;
    left: 110px;
    top: 0px;

    font-style: normal;
    font-size: 48px;
}
.ulconsulta{
    position: absolute;
    width: 153px;
    height: 168.88px;
    left:80px;
    top: 100px;
}

.titulotaller{
    position: absolute;
    width: 127px;
    height: 50.04px;
    left: 120px;
    top: 0px;
    font-size: 48px;
}

.ultaller{
    position: absolute;
    width: 300px;
    height: 168.88px;
    left:50px;
    top: 100px;
}


/*FOOTER*/
footer{
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0px;
    top: 854px;

    background: #034C3C;
}

.logogit{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1300px;
    top: 32px;
}

.copyright{
    color: #B7CECE;
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 15px;
}
